body {
  margin: 0;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: #000;
  text-decoration: none;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.type{
  display: flex;
  justify-content: center;
  font-weight: 600;
  width: 100%;
  padding: 5px;
}

.fighting{
  background: #B41515;
}

.flying{
  background: #82CFFF;
}

.normal{
  background: #006E60;
}

.poison{
  background: #028102;
}

.ground{
  background: #814C17;
}

.rock{
  background: #7C817C;
}

.bug{
  background: #810065;
}

.ghost{
  background: #9DD9C0;
}

.steel{
  background: #C7D9D9;
}

.fire{
  background: #FF0008;
}

.water{
  background: #0004FF;
}

.grass{
  background: #48FF00;
}

.electric{
  background: #3762FF;
}

.psychic{
  background: #FF64AF;
}

.ice{
  background: #FFF;
}

.dragon{
  background: #EAFF00;
}

.dark{
  background: #3E3F3E;
}

.fairy{
  background: #FF0088;
}

.header{
  width: 100%;
  background: #009688;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.home{
  padding: 10px;
  background: #073642;
  display: flex;
  /*width: 500px;*/
}

.pokemons{
  width: 100%;
  padding: 10px;
  background: #094453;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}

.card{
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background: #009688;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.quantity{
  border-radius: 10px;
  width: 150px;
  height: 50px;
  background: #006E60;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.quantityItem{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #0F7D6F;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.quantityItemActive{
  background: #309E90;
  font-weight: 600;
}

.footer{
  width: 100%;
  background: #009688;
  height: 100px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemonPage{
  padding: 10px;
  background: #073642;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 50px;
}

.pagination{
  border-radius: 10px;
  height: 50px;
  background: #006E60;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.paginationItem{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #0F7D6F;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  margin: 0 5px;
}

.paginationItemActive{
  background: #073642;
  font-weight: 600;
}

.search{
  border-radius: 10px;
  width: 310px;
  height: 50px;
  background: #006E60;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.searchTitle{
  text-transform: uppercase;
}

.searchInput{
  height: 30px;
  border: none;
  background: #009688;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}

.filters{
  width: 190px;
  background: #094453;
  border-radius: 10px;
  margin-right: 10px;
  padding: 10px;
}

.filtersItem{
    width: 170px;
    height: 30px;
    border-radius: 5px;
    background: #009688;
    display: flex;
    align-items: center;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600 ;
}

.filtersCheckBox{
  margin-right: 5px;
  cursor: pointer;
}

@media screen and (max-width: 720px) {

  .header{
    height: 200px;
    flex-direction: column;
  }

  .home{
    flex-direction: column;
  }

  .filters{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .filtersItem{
    width: 100px;
  }

  .pokemons{
    justify-content: space-around;
  }
}

@media screen and (max-width: 600px){
  .w6{
    display: none;
  }
}

@media screen and (max-width: 350px){
  .header{
    height: 240px;
  }

  .search{
    flex-direction: column;
    width: 100%;
    height: 80px;
  }
}